<!-- public/index.html -->
<!doctype html>
<html ng-app="Contatos">

<head>
    
    <script src="/app/public/vendor/js/bower_components/angular.min.js"></script>
    <script src="/app/public/vendor/js/controllers/ContatosController.js"></script>
    
    
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
</head>
<body ng-controller="ContatosController">
<h1>Bem-vindo ao Contatooh</h1>

<button>Novo</button>
<p>Cadastrao de Contratados : {{total}}</p>

</body>
</html>
